*, :after, :before { box-sizing: border-box; }

html {
    box-sizing:border-box;
}

:root{
    --cprimary: #000000;
    --csecondary: rgb(236, 236, 236);

    --fontdefault: 'Caladea', sans-serif;
    --fontspecial: 'georgia', sans-serif;
    --spacer: 20px;

}

body {
    background-color: #fff;
    font-family: var(--fontdefault);
    color: var(--cprimary);
    font-weight: 400;
    font-size:var(--spacer);
}

/*
 **************************************
	Header
 **************************************
*/

.header {
    padding: var(--spacer);
    margin-bottom: 0;
}


.header__logo {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--fontspecial)
}

.header__logo__link {
    text-decoration: none;
}

h2,h3 {
    font-family: var(--fontdefault);
    font-weight: normal;
}

/*
 **************************************
	MENU
 **************************************
*/

.menu {
    text-align: center;
    font-weight: bold;
}

.menu__toggler {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.menu__checkbox {
    position:absolute;
    left:-9999px;
    text-align: center;
}

.menu__list {
    display:none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    color: var(--cprimary);
    text-align: center;
}

.menu__item {
    border-bottom: 1px solid lightgrey;
    color: black;
}

.menu__link {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
}


 @media screen and (max-width: 799px) {
     
.menu__checkbox:checked ~ .menu__list {
    display:block;
}
}

.menu__link:hover {
    text-decoration:underline;
}

.header__logo:hover {
    cursor:pointer;
}


@media screen and (min-width: 800px) {
    
    .menu__toggler {
        display:none;
    }

    .menu__list {
        display:flex;
    }

    .menu__item {
        border-bottom: 0;
        border-right: 1px solid lightgrey;
    }

    .header{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
   
}

/*
 **************************************
	Button
 **************************************
*/

.button {
    font-size: 16px;
    padding:10px 20px;
    border: 1px solid var(--csecondary);
    background-color: var(--csecondary);
    color: var(--cprimary);
    margin: 20px 20px 20px 0;
    border-radius: 10px;
}

.botton:hover {
    cursor:pointer;
}

/*
 **************************************
	Main page
 **************************************
*/

.main {
    margin-top: 0;
    padding:30px;
}

.main__text{
    display:block;
    padding:var(--spacer);
}

.main__text--top {
    font-weight: bold;
    font-size:20px;
    margin-bottom: 30px;
}

.main__image1 {
    width: 100%;
    height: 100%;
    margin-top:0;
    object-fit: cover;
}

.projects__documentation__link {
    text-decoration: none;
}

.projects__image {
    width: 100%;
    height: 100%;
    margin-top: 0;
    object-fit: cover;
}

.mainpage__image {
    width:100%;
    margin:0;
    padding:100px 20px 100px 100px;
}

.image {
    width:100%;
}

.image--right {
    text-align: center;
    padding:var(--spacer);
}
/*
 **************************************
	About me
 **************************************
*/

.aboutme {
    padding:30px;
}

.aboutme__photo {
    width: 100%;
    height: 100%;
    margin-top:0;
    object-fit: cover;
}

.aboutme__header {
    text-align: center;
}

.aboutme__menu {
    display:block;
}

.aboutme__logo {
    text-align: center;
}

.projects {
    display:grid;
    gap:20px;
    padding: 30px;
}

.construction {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    padding: 0 30px;
}

.construction {
    margin-top: 20px;
}


.service {
    display:block;
    text-align: center;
    padding: 30px;
}

.realization {
    display:grid;
    gap:20px;
    padding: 30px;
}

.realization__header {
    text-align: center;
}
.realization__image {
    width: 100%;
    height: 100%;
    margin-top:0;
    object-fit: cover;

}

/*
 **************************************
	Contacts
 **************************************
*/

.contacts {
    display: block;
    box-sizing: border-box;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    padding:30px;
}

.contact__email {
    text-decoration: underline;
    margin-bottom: 20px;
}

a {
    color: var(--cprimary)
}

.contact__address {
    margin-top: 30px;
}




@media screen and (min-width: 850px)   {

/*
 **************************************
	Mainpage full screen
 **************************************
*/
    .main {
        display:flex;
        margin-top: 20px;
    }

    .header__logo__link {
        text-decoration: none;
    }

    .main__text,
    .main__image {
        flex-basis:50%;
        padding: 10px 30px;
    }

    .main__text--top {
        padding:100px 90px 20px 80px;
        font-size: 20px;
        font-weight: bold;
        margin:auto;
    }

    .main__text--bottom {
        font-size:  20px;

        padding: 0 60px 80px 80px;  
        margin:0;
      }

    .main__image1 {
        width: 700px;
        height: 550px;
        padding: 10px 50px;
        
    }

    .main__text {
        flex-direction: column;
    }


    .projects {
        display:grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding:var(--spacer);
        margin-top: 20px;
    }

    .projects__study {
        grid-column: 1;
        grid-row: 1;
        margin:auto;
        font-size: 20px;
        font-weight: bold;
    }

    .projects__documentation {
        grid-column: 3;
        grid-row: 1;
        margin: auto;
        font-size: 20px;
        font-weight: bold;
    }

    .projects__documentation__link {
        text-decoration: none;
    }

    .projects__engineering {
        grid-column: 2;
        grid-row: 2;
        margin: auto;
        font-size: 20px;
        font-weight: bold;
    }


   .projects__script {
       grid-column-start: 1;
   }

    .projects__familyhouses {
        grid-column: 3 / 4;
        grid-row: 2 / -1;
    }

    
        /*
    **************************************
	projects full screen
    **************************************
    */

    .construction {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap:20px;
        margin-top:20px;
    }

    .service__logo {
        display: block;
        text-align: left;
        background-color: var(--csecondary);
        padding:10px;
    }

    
        /*
    **************************************
	realizations full screen
    **************************************
    */

    .realizations {
        padding: 30px;
    }

    .realization {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap:20px;
    }

    .realization__description {
        grid-column: span 2;
    }

    .realization__image {
        grid-column: 1;
    }

    .realization__header {
        display: block;
        text-align: left;
        background-color: var(--csecondary);
        padding:10px;
    }

   

  
        /*
    **************************************
	aboutme full screen
    **************************************
    */

    .aboutme__content {
        display: flex;
    }

    .aboutme__image,
    .aboutme__text {
        flex-basis:50%;
        padding: 10px 30px;
    }

    .aboutme__image {
        margin-top:30px;
    }

    .aboutme__photo {
        flex-basis:30%;
        height: 600px;
        padding: 10px 50px;
    }

    .aboutme__text {
        padding:  40px 20px; 
        margin:auto;
        border-right: none;
    }


    .aboutme__menu {
        padding:30px;
    }


    .aboutme__header {
        display: block;
        text-align: left;
        background-color: var(--csecondary);
        padding:10px;
    }

    /*
    **************************************
	contact full screen
    **************************************
    */


    .contact__header {
        display: block;
        text-align: left;
        background-color: var(--csecondary);
        padding:10px;
    }

    .contact__name {
        padding:30px;
    }

    .contact {
        margin-top:20px;
    }

    .contact__address {
        margin-top:30px;
    }
    
}

/*
 **************************************
	footer
 **************************************
*/

.footer {
    background-color: var(--csecondary);
    color: var(--cprimary);
    text-align: center;
    display: block;
    padding: 30px;

}

.footer_name {
    margin:0;
    padding:0;
    margin-bottom: 15px;
}

.footer__tel {
    margin-top: 15px;
}


